
<div>
  <p>
    <b>Work in progress</b>
  </p>
  <p>
    Live COVID-19 data provided by <a href="https://github.com/microsoft/Bing-COVID-19-Data">Bing</a>.
  </p>
  <p>
    Disclaimer: The app focuses on deaths and ratio per 100'000 inhabitants to make the comparison easier. However, each country performs the counting in a very different fashion depending on their policy. So interpreting the data still represents a chalenge, but at least it helps.
  </p>
  <p>
    To sort the table below, click the column headers.
  </p>
  <p>
    <a href="https://github.com/vpcom" target="_blank">Source code (version 0.4.0)</a>.
  </p>

  
</div>
  