
<div>
  <p>
    Find here a presentation of Covid-19 data per country and per inhabitants.
  </p>
  <p>
    The data concerning Covid-19 comes from the endpoint described here (https://github.com/Omaroid/Covid-19-API), which is retrieved from the Johns Hopkins University Center for Systems Science and Engineering.
  </p>
  <p>
    The inhabitants number are about 1 yr old, it comes from https://github.com/samayo/country-json/blob/master/src/country-by-population.json.
  </p>
  <p>
    The data presents daily cases but not the latest figures and is not yet a trustable source for all countries because it must be aggregated.
  </p>
</div>
  