
<div>
  <p>
    <b>Work in progress</b>
  </p>
  <p>
    Live COVID-19 data provided by <a href="https://github.com/microsoft/Bing-COVID-19-Data">Bing</a>.
  </p>
  <p>
    The app focuses on deaths and ratio per 100'000 inhabitants to make the comparison easier. However the counting in each country is different so interpreting them can still be a chalenge.
  </p>
  <p>
    To sort the table below, click the column headers.
  </p>
  <p>
    <a href="https://github.com/vpcom" target="_blank">Source code (version 0.2.1)</a>.
  </p>

  
</div>
  