

<h1>COVID-19 worldwide statistics per inhabitants and other resources</h1>

<div>
  <p>
    Find here a presentation of Covid-19 data per country and per inhabitants.
  </p>
  <p>
    The data comes from the endpoint described here (https://github.com/Omaroid/Covid-19-API), which is retrieved from the Johns Hopkins University Center for Systems Science and Engineering.
  </p>
  <p>
    The data presents daily cases but not the latest figures and is not yet a trustable source for all countries because it must be aggregated.
  </p>
</div>

<app-cases-deaths></app-cases-deaths>

<router-outlet></router-outlet>